---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
  font-family: 'Open Sans', sans-serif;
  color: #747474;
  font-size: 16px;
  margin-top: 80px;
  font-weight: 300;
}

a {
  color: #747474;
  border-bottom: solid 2px #00BD92;

  &:hover {
    color: #747474;
    text-decoration: none;
  }
}

.header {
  text-align: center;

  &__logo {
    font-family: 'Qwigley', cursive;
    color: #16161d;
    font-size: 120px;
    margin-bottom: 110px;
  }
}

.collabs {
  margin-top: 110px;

  .collab {
    display: block;
    text-align: center;

    &__photo {
      border: none;
      display: inline-block;
      width: 100%;
      height: 230px;
      background-position: center center;
      background-size: cover !important;
    }

    &__caption {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }
}

.footer {
  margin-top: 110px;
  text-align: center;
}

#instafeed {
  display: flex;
  flex-wrap: wrap;

  a {
    font-size: 16px;
    display: inline-block;
    width: 14.2857142857%;
    text-decoration: none;
    border: none;
    background-size: cover;
  }
}

.instabar {
  margin-top: 110px;
  text-align: center;
  background-image: url("/img/bg.png");
  background-repeat: repeat-x;

  span {
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;

    a {
      display: inline-block;
      margin-bottom: 20px;
    }
  }

  hr {
    border: none;
    border-top: solid 1px #ccc;
    margin-bottom: 40px;
    margin-top: 10px;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .collabs {
    .collab {
      &__photo {
        height: 690px;
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .collabs {
    .collab {
      &__photo {
        height: 460px;
      }
    }
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}
